@media screen and (max-width: 425px){
    article hr {
        width: 45%;
        margin: auto;
    }

    .service-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .service-container .box-icon{
        width: 40%;
        margin: auto;
    }

    .portofolio-container {
        display: grid;
        grid-template-columns: 1fr ;
        grid-auto-rows: 320px 320px;
    }
}