@media screen and (max-width: 790px) {
    nav .nav-bar .sideBarOpen {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        background-color: #000000;
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: 0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }
    
    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .sideBarClose {
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-likns {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-likns li a {
        display: block;
        margin-top: 20px;
    }

    article hr {
        width: 25%;
        margin: auto;
    }

    .service-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .service-container .box-icon{
        width: 40%;
        margin: auto;
    }

    .portofolio-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 320px 320px;
    }

    .contact-container div{
        display: flex;
        flex-direction: row;
    }

    fieldset {
        width: 60%;
        flex-direction: column;
    }

    fieldset .contact-container {
        width: 100%;
        margin: auto;
        align-items: center;
    }

    footer {
        width: 100%;
        margin: auto;
    }
}